@model Sistema_Matricula.Models.Estudiante

@{
    ViewData["Title"] = "_EditarEstudiante";
}

<h4 class="text-2xl font-bold text-gray-800 mb-6">Editar Estudiante</h4>
<hr class="mb-6 border-gray-300" />

<div class="max-w-lg mx-auto bg-white shadow-md rounded-lg p-6">
    <form asp-action="EditarEstudiante" id="editarEstudianteForm" class="flex">
        <div asp-validation-summary="ModelOnly" class="text-red-500 mb-4"></div>

        <div class="form-group mb-5">
            <label asp-for="IdEstudiante" class="block text-gray-700 font-semibold">ID Estudiante</label>
            <input asp-for="IdEstudiante" class="form-input block w-full mt-1 rounded-lg border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" readonly />
            <span asp-validation-for="IdEstudiante" class="text-red-500"></span>

            <label asp-for="Nombre" class="block text-gray-700 font-semibold">Nombre</label>
            <input asp-for="Nombre" class="form-input block w-full mt-1 rounded-lg border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" />
            <span asp-validation-for="Nombre" class="text-red-500"></span>


            <label asp-for="Apellido" class="block text-gray-700 font-semibold">Apellido</label>
            <input asp-for="Apellido" class="form-input block w-full mt-1 rounded-lg border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" />
            <span asp-validation-for="Apellido" class="text-red-500"></span>

            <label asp-for="Sexo" class="block text-gray-700 font-semibold">Sexo</label>
            <select asp-for="Sexo" class="form-input block w-full mt-1 rounded-lg border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" asp-items="ViewBag.Sexos">
                <option value="">--Seleccione aquí--</option>
            </select>
            <span asp-validation-for="Sexo" class="text-red-500"></span>
        </div>

        <div class="form-group mb-5">
            <label asp-for="FechNacimiento" class="block text-gray-700 font-semibold">Fecha de Nacimiento</label>
            <input asp-for="FechNacimiento" class="form-input block w-full mt-1 rounded-lg border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" />
            <span asp-validation-for="FechNacimiento" class="text-red-500"></span>

            <label asp-for="Direccion" class="block text-gray-700 font-semibold">Dirección</label>
            <input asp-for="Direccion" class="form-input block w-full mt-1 rounded-lg border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" />
            <span asp-validation-for="Direccion" class="text-red-500"></span>

            <label asp-for="Estado" class="block text-gray-700 font-semibold">Estado</label>
            <input asp-for="Estado" class="form-input block w-full mt-1 rounded-lg border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" readonly />
            <span asp-validation-for="Estado" class="text-red-500"></span>

            <label asp-for="Dni" class="block text-gray-700 font-semibold">DNI</label>
            <input asp-for="Dni" class="form-input block w-full mt-1 rounded-lg border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" />
            <span asp-validation-for="Dni" class="text-red-500"></span>

            <input type="submit" value="Editar" class="w-full mt-3 bg-indigo-600 text-white font-semibold py-2 px-4 rounded-lg shadow-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-opacity-50 transition ease-in-out duration-150" />
        </div>
    </form>
</div>
