@model List<Sistema_Matricula.ViewsModels.PagoEstudianteViewModel>

<div class="bg-white rounded-lg p-6 shadow-lg w-full">
    <div class="flex justify-between items-center mb-4">
        <button id="exportPDF" class="bg-green-500 text-white font-semibold py-2 px-4 rounded-lg transition-colors duration-300 hover:bg-green-600">
            Exportar a PDF
        </button>
    </div>
    <div class="overflow-x-auto w-full">
        <table id="notas" class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
                <tr>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Concepto</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Monto</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Tipo de pago</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Fecha de Pago</th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200" id="notasTableBody">
                @if (Model != null && Model.Any())
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <div class="text-sm font-medium text-gray-900">
                                    @Html.DisplayFor(modelItem => item.Concepto)
                                </div>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <div class="text-sm font-medium text-gray-900">
                                    @Html.DisplayFor(modelItem => item.Monto)
                                </div>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <div class="text-sm font-medium text-gray-900">
                                    @Html.DisplayFor(modelItem => item.TipoPago)
                                </div>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <div class="text-sm font-medium text-gray-900">
                                    @Html.DisplayFor(modelItem => item.FechaPago)
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr class="mt-2">
                        <td colspan="4" class="text-center text-gray-500">No has hecho ningún pago hasta el momento</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
