@using Sistema_Matricula.ViewsModels
@model HorarioCursoViewModel

<h1>Asignar Curso a Horario</h1>

<form asp-action="Asignar" method="post">
    <div class="form-group">
        <label asp-for="IdCurso">Curso</label>
        <select asp-for="IdCurso" class="form-control" asp-items="ViewBag.cursos">
            <option value="">Seleccione un curso</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="IdHorario">Horario</label>
        <select asp-for="IdHorario" class="form-control" asp-items="ViewBag.horarios">
            <option value="">Seleccione un horario</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="HoraInicio">Hora de Inicio</label>
        <input asp-for="HoraInicio" class="form-control" type="time" />
    </div>

    <div class="form-group">
        <label asp-for="HoraFin">Hora de Fin</label>
        <input asp-for="HoraFin" class="form-control" type="time" />
    </div>

    <div class="form-group">
        <label asp-for="IdAula">Aula</label>
        <select asp-for="IdAula" class="form-control" id="aulaSelect" asp-items="ViewBag.aulas">
            <option value="">Seleccione un aula</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="IdSeccion">Sección</label>
        <select asp-for="IdSeccion" class="form-control" id="seccionSelect" asp-items="ViewBag.secciones">
            <option value="">Seleccione una seccion</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="DiaSemana">Dia de la Semana</label>
        <input asp-for="DiaSemana" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#seccionSelect').change(function () {
                var seccionId = $(this).val(); // este es el id de seccion
                $.ajax({
                    url: '@Url.Action("AulasPorSeccion", "Aula")', //este es el controlador que se llama
                    type: 'GET',
                    data: { id: seccionId }, //este es el parametro que se envia al controlador
                    success: function (data) {
                        var aulaSelect = $('#aulaSelect'); //este es el id del select de aulas
                        aulaSelect.empty(); //limpia el select
                        $.each(data, function (index, item) {
                            //agrega los items al select
                            aulaSelect.append($('<option></option>').val(item.idAula).text(item.idAula)); 
                        });
                    }
                });
            });
        });
    </script>
}