@using Sistema_Matricula.ViewsModels
@model HorarioCursoSeccionViewModel

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asignar un Horario a un Curso</title>
    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5/5hb5gLl1PLTT3r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <style>
        .form-container,
        .container{
            width: 100%;
            max-width: 1500px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .form-group {
            margin-bottom: 15px;
            flex: 1;
            justify-content: space-around;
        }

        .form-group label {
            display: block;
            margin-bottom: 5px;
        }

        .form-group input,
        .form-group select {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
        }

        .btn-primary {
            padding: 10px 20px;
            font-size: 16px;
        }


            .btn-primary {
                width: 100%;
                padding: 15px;
            }
        }
    </style>
</head>
<body class="bg-light" style="margin-left: 280px;">
    <div class="container-fluid">
        <h1 class="text-center mb-4">Asignar un Horario a un Curso</h1>
        
        <div class="form-container">
            <form asp-action="Asignar" method="post" class="d-flex flex-wrap justify-content-between">
                <div class="form-group">
                    <div class="container mb-12">
                        <label for="nivel">Nivel</label>
                        <select id="nivel" class="form-control" asp-items="ViewBag.Niveles">
                            <option value="">Seleccione un Nivel</option>
                        </select>
                        <label for="grado">Grado</label>
                        <select id="grado" class="form-control" >
                            <option value="">Seleccione un Grado</option>
                        </select>
                    </div>
                    <label asp-for="IdHorario">Horario</label>
                    <select asp-for="IdHorario" id="horario" class="form-control" asp-items="ViewBag.horarios">
                        <option value="">Nuevo Horario</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="IdSeccion" >Sección</label>
                    <select asp-for="IdSeccion" class="form-control" id="seccionSelect">
                        <option value="">Seleccione una seccion</option>
                    </select>
                    
                </div>
                <div class="form-group">
                    <label asp-for="HoraInicio">Hora de Inicio</label>
                    <input asp-for="HoraInicio" class="form-control" type="time" />
                    <label asp-for="HoraFin">Hora de Fin</label>
                    <input asp-for="HoraFin" class="form-control" type="time" />
                </div>
                <div class="form-group">
                    <label asp-for="DiaSemana">Día de la Semana</label>
                    <select asp-for="DiaSemana" class="form-control" asp-items="ViewBag.dias">
                        <option value="">Seleccione un día</option>
                    </select>
                </div>
                <div class="form-group w-100">
                    <button type="submit" class="btn btn-primary w-100">Guardar</button>
                </div>
            </form>
        </div>
        <button id="buscarBtn" class="bg-yellow-500 hover:bg-yellow-400 text-white font-bold py-2 px-4 border-b-4 border-yellow-700 hover:border-yellow-500 rounded">
            Buscar
        </button>
        <div id="lista-cursoseccion">

        </div>

    </div>

    
</body>
</html> 
<script>
        

    document.addEventListener('DOMContentLoaded', function () {

        //LISTAR HORARIO POR SU HORA INICIO Y HORA FIN EN EL MISMO SELECT
        var horario = document.getElementById('horario')
        if (horario) {
            fetch('/Horario/ObtenerHorarioJson')
                .then(response => response.json())
                .then(data => {
                    horario.innerHTML = '<option value="">Nuevo Horario</option>';
                    data.forEach(horarioItems => {
                        var option = document.createElement('option');
                        option.value = horarioItems.idHorario;
                        option.text = `${horarioItems.horaInicio} - ${horarioItems.horaFin}`;
                        horario.appendChild(option);
                    });
                });
        } else {
            document.getElementById('aulaSelect').innerHTML = '<option value="">Seleccione un aula</option>';
        }
        //OBTENER GRADOS POR NIVELES
        document.getElementById('nivel').addEventListener('change', function () {
            var nivelId = this.value;
            if (nivelId) {
                fetch(`/Curso/BuscarGradoPorNivel?idNivel=${nivelId}`)
                    .then(response => response.json())
                    .then(data => {
                        var gradoSelect = document.getElementById('grado');
                        gradoSelect.innerHTML = '<option value="">Seleccione un grado</option>';
                        data.forEach(grado => {
                            var option = document.createElement('option');
                            option.value = grado.idGrado;
                            option.text = grado.descripcion;
                            gradoSelect.appendChild(option);
                        });
                    });
            } else {
                document.getElementById('grado').innerHTML = '<option value="">Seleccione un grado</option>';
                document.getElementById('seccion').innerHTML = '<option value="">Seleccione una sección</option>';
            }
        });

        // //OBTENER SECCIONES POR GRADO
        // var gradoSelect = document.getElementById('grado');
        // gradoSelect.addEventListener('change', function () {
        //     var gradoId = this.value;
        //     console.log(gradoId);
        //     if (gradoId) {
        //         fetch('@Url.Action("BuscarSeccionPorGrado", "Curso")/' + gradoId)
        //             .then(response => response.json())
        //             .then(data => {
        //                 var seccionSelect = document.getElementById('seccionSelect');
        //                 seccionSelect.innerHTML = '<option value="">Seleccione una sección</option>';
        //                 data.forEach(seccion => {
        //                     var option = document.createElement('option');
        //                     option.value = seccion.idSeccion;
        //                     option.textContent = seccion.nombre;
        //                     seccionSelect.appendChild(option);
        //                 });
        //             })
        //             .catch(error => console.error('Error fetching data:', error));
        //     } else {
        //         document.getElementById('seccionSelect').innerHTML = '<option value="">Seleccione una sección</option>';
        //     }
        // });


        document.getElementById('grado').addEventListener('change', function () {
            var gradoId = this.value;
            if (gradoId) {
                fetch(`/Curso/BuscarSeccionPorGrado?idGrado=${gradoId}`)
                    .then(response => response.json())
                    .then(data => {
                        var seccionSelect = document.getElementById('seccionSelect');
                        seccionSelect.innerHTML = '<option value="">Seleccione una sección</option>';
                        data.forEach(seccion => {
                            console.log(seccion);
                            var option = document.createElement('option');
                            option.value = seccion.idSeccion;
                            option.text = seccion.nombre;
                            seccionSelect.appendChild(option);
                        });
                    });
            } else {
                document.getElementById('seccionSelect').innerHTML = '<option value="">Seleccione una sección</option>';
            }
        });

        //OBTENER AULAS POR SECCION
        var seccionSelect = document.getElementById('seccionSelect')
        seccionSelect.addEventListener('change', function(){
            var seccionId = this.value;
            if (seccionId) {
                fetch(`@Url.Action("AulasPorSeccion", "Aula")/${seccionId}`).
                    then(response => response.json()).
                    then(data => {
                        var aulaSelect = document.getElementById('aulaSelect');
                        aulaSelect.innerHTML = '<option value="">Seleccione un aula</option>';
                        data.forEach(aula => {
                            var option = document.createElement('option');
                            option.value = aula.idAula;
                            option.text = aula.idAula;
                            aulaSelect.appendChild(option);
                        })
                    })
            }else{
                document.getElementById('aulaSelect').innerHTML = '<option value="">Seleccione un aula</option>';
            }
            
        })

        //OBTENER CURSOS POR SECCION
        var seccionSelect = document.getElementById('seccionSelect')
        seccionSelect.addEventListener('change', function(){
            var idSelect = this.value;
            console.log(idSelect)
            fetch(`@Url.Action("ListarCursoPorSeccion", "Curso")/${idSelect}`).
                then(response =>
                    response.json()
                ).
                then(data => {
                    var curso = document.getElementById('curso');
                    curso.innerHTML = '<option value="">Seleccione un curso</option>';
                    data.forEach(cursoItems => {
                        var option = document.createElement('option');
                        option.value = cursoItems.idCurso;
                        option.text = cursoItems.nombre;
                        curso.appendChild(option);
                    })
                })
        })

        // Cargar la lista inicial de secciones y cursos
        fetch('@Url.Action("ListarSeccionesyCursos", "Curso")')
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok ' + response.statusText);
                }
                return response.text();
            })
            .then(data => {
                document.getElementById('lista-cursoseccion').innerHTML = data;
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });

        // Agregar evento al botón de búsqueda
        document.getElementById('buscarBtn').addEventListener('click', function () {
            var nivelId = document.getElementById('nivel').value;
            var gradoId = document.getElementById('grado').value;
            var seccionId = document.getElementById('seccionSelect').value;

            fetch(`@Url.Action("ListarSeccionesyCursosConParametros", "Curso")?idgrado=${gradoId}&idnivel=${nivelId}&idseccion=${seccionId}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('No hubo respuesta positvia ' + response.statusText);
                    }
                    return response.text();
                })
                .then(data => {
                    document.getElementById('lista-cursoseccion').innerHTML = data;
                })
                .catch(error => {
                    console.error('Hubo un problema con fetch', error);
                });
        });

        

    });
    </script>