@model IEnumerable<Sistema_Matricula.Models.Apoderado>

<h1>ListarApoderado</h1>
<a asp-action="AgregarApoderado" asp-controller="Apoderado" class="btn btn-primary">Agregar</a>

<div class="container">
    <main role="main" class="pb-3">
        <div id="apoderados-container">
            @await Html.PartialAsync("_apoderado", Model)
        </div>
    </main>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var $apoderadosContainer = $('#apoderados-container');

            function loadApoderados() {
                $.ajax({
                    url: '@Url.Action("ListarApoderadoPartial", "Apoderado")',
                    type: 'GET',
                    data: $('#filter-form').serialize(),
                    success: function (data) {
                        $apoderadosContainer.html(data);
                        bindSortEvents();
                    }
                });
            }

            function bindSortEvents() {
                $('.sort-btn').click(function (e) {
                    e.preventDefault();
                    var $this = $(this);
                    var sortField = $this.data('sort-field');
                    var sortDirection = $this.data('sort-direction');
                    $this.data('sort-direction', sortDirection === 'asc' ? 'desc' : 'asc');
                    loadApoderados();
                });
            }

            $('#filter-form').submit(function (e) {
                e.preventDefault();
                loadApoderados();
            });

            loadApoderados();
        });

    </script>
}

