<!-- Views/Shared/_Confirm_EliminarCursoDocente.cshtml -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content ">
            <div class="md:flex items-center">
                <div class="mt-4 md:mt-0 md:ml-6 text-center">
                    <p class="font-bold" style="font-size:25px">Eliminar Asignación de Curso a Docente</p>
                    <p class="text-sm text-gray-700 mt-1" style="font-size:18px">
                        ¿Estás seguro de eliminar la asignación de este curso al docente?
                    </p>
                    <p class="text-sm text-[#d25959] mt-1" style="font-size:16px">
                        * Ten en cuenta que también se eliminarán los horarios asignados a los cursos dictados por este docente y tambien todas las asignaciones hechas de este curso a las diferentes secciones
                    </p>
                    
                </div>
            </div>
            <div class="text-center md:text-right mt-4 mb-4 md:flex md:justify-center ">
                <button id="cancel-button" class="block w-full md:inline-block md:w-auto px-4 py-3 md:py-2 bg-gray-200 rounded-lg font-semibold text-sm md:mt-0 md:order-1">
                    Cancelar
                </button>
                <button id="confirm-delete-button" class="block w-full md:inline-block md:w-auto px-4 py-3 md:py-2 bg-red-200 text-red-700 rounded-lg font-semibold text-sm md:ml-2 md:order-2">
                    Aceptar
                </button>
            </div>
        </div>
    </div>
</div>


