@model IEnumerable<Sistema_Matricula.Models.Docente>
@{
    ViewData["Title"] = "ListarDocentePorId";
    var especialidad = ViewBag.Especialidad as Dictionary<int, string>;

}

<head>
    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
</head>

<div class="layout-content-container flex flex-col w-full flex-1">

    <div class="px-4 py-3 container">
        
        <div class="flex overflow-hidden rounded-xl border border-[#D5D6DD] bg-[#F9FAFA]">
            <table class="flex-1">
                <thead>
                    <tr class="bg-[#212141]">
                        <th class="table-b4f66b0a-a212-4a0f-8191-89da80493d17-column-56 px-4 py-3 text-left text-[#FFFFFF] w-14 text-sm font-medium leading-normal">
                            Nombre
                        </th>
                        <th class="table-b4f66b0a-a212-4a0f-8191-89da80493d17-column-56 px-4 py-3 text-left text-[#FFFFFF] w-14 text-sm font-medium leading-normal">
                            Apellido
                        </th>
                        <th class="table-b4f66b0a-a212-4a0f-8191-89da80493d17-column-56 px-4 py-3 text-left text-[#FFFFFF] w-14 text-sm font-medium leading-normal">
                            IdEspecialidad
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="border-t border-t-[#D5D6DD]">
                            <td class="table-b4f66b0a-a212-4a0f-8191-89da80493d17-column-56 h-[72px] px-4 py-2 w-14 text-sm font-normal leading-normal">
                                @item.Nombre
                                </td>
                            <td class="table-b4f66b0a-a212-4a0f-8191-89da80493d17-column-56 h-[72px] px-4 py-2 w-14 text-sm font-normal leading-normal">
                                @item.Apellido
                                </td>
                            <td class="table-b4f66b0a-a212-4a0f-8191-89da80493d17-column-56 h-[72px] px-4 py-2 w-14 text-sm font-normal leading-normal">
                                @* una forma de llamar a un dictionary *@
                                @{
                                    int? idEspecialidad = item.IdEspecialidad;
                                    string especialidadNombre = idEspecialidad.HasValue ? especialidad.GetValueOrDefault(idEspecialidad.Value, "N/A") : "N/A";
                                }
                                @especialidadNombre
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
