@model IEnumerable<Sistema_Matricula.ViewsModels.CursoDocenteCountViewModel>
@{
    ViewData["Title"] = "ListarDocentesYCantidadCursos";

}

<head>
    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
</head>

<div class="layout-content-container flex flex-col w-full flex-1">
    <div class="px-4 py-3 container">
        <div class="flex flex-wrap overflow-hidden rounded-xl border border-[#D5D6DD] bg-[#F9FAFA]">
            @foreach (var item in Model)
            {
                <div class="m-2 flex-auto p-4 rounded-lg bg-white text-center text-surface shadow-secondary-1 dark:bg-surface-dark dark:text-white" style="min-width: 250px;">
                    <div class="p-6">
                        <h5 class="mb-2 text-xl font-medium leading-tight">
                            @item.IdDocente
                        </h5>
                        <p class="mb-4 text-base">
                            @item.NombreDocente
                        </p>
                        <h5 class="mb-2 text-xl font-medium leading-tight">
                            @item.Cantidad
                        </h5>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

