@model Sistema_Matricula.Models.Aula

@{
    ViewData["Title"] = "AgregarAula";
}

<h1>AgregarAula</h1>

<h4>Aula</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AgregarAula">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Capacidad" class="control-label"></label>
                <input asp-for="Capacidad" class="form-control" />
                <span asp-validation-for="Capacidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VacantLibres" class="control-label"></label>
                <input asp-for="VacantLibres" class="form-control" />
                <span asp-validation-for="VacantLibres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<style>
    body {
        margin-left: 120px;
    }
</style>
