 @model Sistema_Matricula.Utils.ViewModelUsuario

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/login.css">
    <title>Login</title>
</head>
<body id="cuerpoEntero">
    <div>
        <div style="width: 400px;
        padding: 30px;
        background-color: #212141;
        border-radius: 15px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin-bottom:15px;
        font-family: "Poppins", sans-serif;">

            <div style="display:flex">
                <img src="~/images/logo.jpg" style="border-radius:5px" alt="logo" id="logo">
                <h1 class="frases" style="margin-top:45px; margin-left:10px; color:white">I.E. La Merced</h1>
            </div>
        </div>
        <div id="card-login" style="background-color: #212141;">
            <h3 style="color:white">Ingrese sus credenciales</h3>
            <form asp-action="Login" asp-controller="Auth" method="post" class="formulario">
                <input type="text" asp-for="Email" class="fields" placeholder="Ingrese su correo">
                <input type="password" asp-for="Password" class="form-control fields" placeholder="Ingrese su password">
                @* <div id="recuerdame">
                    <input type="checkbox" id="remember">
                    <label for="remember" class="frases">remember me</label>
                </div> *@
                <button type="submit" id="button-login">Ingresar</button>
                <!--

                <a href="#" id="forgot-password" class="frases">Forgot Password?</a>
                <p>New here? <a href="#" id="sign-up" class="frases">Sign up now</a></p>
                -->

            </form>
        </div>
    </div>
        
</body>
</html>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    @* <script>
        document.getElementById('loginForm').addEventListener('submit', async function (event) {
            event.preventDefault();

            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;

            const response = await fetch('@Url.Action("Login", "Auth")', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ email, password })
            });

            if (response.ok) {
                const data = await response.json();
                document.cookie = `AuthToken=${data.token};path=/;secure;HttpOnly`;
                // Redirigir a una página protegida después del login
                window.location.href = '/protected';
            } else {
                alert('Login failed');
            }
        });

    </script> *@
} 