@model Sistema_Matricula.Models.Curso
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link rel="stylesheet"
          as="style"
          onload="this.rel='stylesheet'"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />


    <title></title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />
    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-vtXRMe3mGCbOeY7l30aIg8H9p3GdeSe4IFlP6G8JMa7o7lXvnz3GFKzPxzJdPfGK" crossorigin="anonymous"></script>

</head>
<body style="align-content:start; margin-left:280px; margin-top:20px; background:#E5E5E5">
    <h1 class="mb-2 mt-0 text-5xl font-medium leading-tight ml-6 text-[#212141]">Mantenimiento de Cursos</h1>
    <hr />

    <div class="ml-6">
        <div class="bg-white p-4 rounded-xl shadow-md">
            <form id="formdata" class="bg-white p-4 rounded-xl shadow-md">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-4"></div>
                <div class="form-group mb-4">
                    <label asp-for="Nombre" class="block text-gray-700 font-bold mb-2"></label>
                    <input asp-for="Nombre" class="form-control bg-gray-100 border border-gray-300 rounded py-2 px-4" />
                    <span asp-validation-for="Nombre" class="text-red-500 text-sm"></span>
                </div>

                <div class="form-group flex justify-end">
                    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                        Nuevo Curso
                    </button>
                </div>
            </form>
            @* <select name="estado" id="estados" class="mr-4 bg-[#FFFFFF] text-[#14213D] mt-2 rounded-xl">
                <option value="">Filtrar por Estado</option>
                <option value="Todos">Todos</option>
                <option value="Activo">Activo</option>
                <option value="Inactivo">Inactivo</option>
                <option value="Pendiente">Pendiente</option>
            </select> *@
            <input type="text"  id="nombre" value="" placeholder="Buscar por nombre..." />
            <button type="submit"  id="cargar" class="bg-[#FFFFFF] hover:bg-blue-400 text-black font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded ml-2">
                <span class="material-symbols-outlined">
                    search
                </span>
            </button>
        </div>
        

        
    </div>

    <div class="bg-white p-4 rounded-xl shadow-md mt-5 ">
        <div id="lista-cursos">
        </div>
    </div>
        
    </body>
</html>

<script>

    
    function loadPage(pageNumber) {
        fetch(`/Curso/ListarCursos?pageNumber=${pageNumber}`)
            .then(response => response.text())
            .then(html => {
                document.getElementById('lista-cursos').innerHTML = html;
                
                var deleteboton = document.querySelectorAll('.delete-btn');
                deleteboton.forEach(boton=>{
                    boton.addEventListener('click', function(){
                       console.log("eliminar")
                        fetch("/Curso/ModalEliminarCurso")
                            .then(response => response.text())
                            .then(html => {
                                var modalContainer = document.getElementById('modal-container');
                                modalContainer.innerHTML = html;

                                var modal = new bootstrap.Modal(document.getElementById('confirmModal'));
                                modal.show();

                                var confirmar = document.getElementById('confirm-delete-button');
                                
                                
                                confirmar.addEventListener('click', () => {
                                    const idCurso = this.getAttribute('data-id');
                                    console.log(idCurso)
                                    fetch(`EliminarCurso?idCurso=${idCurso}`, {
                                        method: 'DELETE'
                                    })
                                        .then(response => response.text())
                                        .then(html => {
                                            modal.hide();
                                            window.location.reload();
                                        })
                                })

                                var cancelar = document.getElementById('cancel-button');
                                cancelar.addEventListener('click', () => {
                                    modal.hide();
                                })
                            })
                    })
                })


                
                editar()
            })
            .catch(error => console.error('Error al cargar la página:', error));
    }
    function loadPageBuscar(nombre, pageNumber) {
        fetch(`/Curso/BuscarCursosPorNombre?nombre=${nombre}&pageNumber=${pageNumber}`)
            .then(response => response.text())
            .then(html => {
                document.getElementById('lista-cursos').innerHTML = html;

                var deleteboton = document.querySelectorAll('.delete-btn');
                deleteboton.forEach(boton => {
                    boton.addEventListener('click', function () {
                        console.log("eliminar")
                        fetch("/Curso/ModalEliminarCurso")
                            .then(response => response.text())
                            .then(html => {
                                var modalContainer = document.getElementById('modal-container');
                                modalContainer.innerHTML = html;

                                var modal = new bootstrap.Modal(document.getElementById('confirmModal'));
                                modal.show();

                                var confirmar = document.getElementById('confirm-delete-button');


                                confirmar.addEventListener('click', () => {
                                    const idCurso = this.getAttribute('data-id');
                                    console.log(idCurso)
                                    fetch(`EliminarCurso?idCurso=${idCurso}`, {
                                        method: 'DELETE'
                                    })
                                        .then(response => response.text())
                                        .then(html => {
                                            modal.hide();
                                            window.location.reload();
                                        })
                                })

                                var cancelar = document.getElementById('cancel-button');
                                cancelar.addEventListener('click', () => {
                                    modal.hide();
                                })
                            })
                    })
                })


                editar()
                
            })
            .catch(error => console.error('Error al cargar la página:', error));
    }

    function editar(){
        //editar modal
        document.querySelectorAll('.activar-estudiante').forEach(button => {
            button.addEventListener('click', function () {
                const idCurso = this.getAttribute('data-id');
                fetch(`/Curso/EditarCurso?idCurso=${idCurso}`)
                    .then(response => response.text())
                    .then(html => {
                        document.querySelector('#agregarEstudianteModal .modal-body').innerHTML = html;
                        const modal = new bootstrap.Modal(document.getElementById('agregarEstudianteModal'));
                        modal.show();

                        var formdata = document.getElementById('editarEstudianteForm');
                        formdata.addEventListener('submit', async (e) => {
                            e.preventDefault();
                            const nuevoForm = new FormData(formdata);
                            try {
                                let response = await fetch(`EditarCurso/`, {
                                    method: 'POST',
                                    body: nuevoForm
                                });

                                if (!response.ok) {
                                    throw new Error(`Error ${response.status}: ${response.statusText}`);
                                }

                                let html = await response.text();
                                console.log(html)
                                let listaCursos = document.getElementById('lista-cursos');
                                listaCursos.innerHTML = html;

                                //editado de cursos
                                setTimeout(() => {
                                    cursoEditado.innerHTML = ''
                                }, 3000)

                                // Limpiar el formulario después de agregar un nuevo curso
                                modal.hide();
                                formdata.reset();
                            } catch (error) {
                                console.error('Error al agregar curso:', error);
                            }
                        })
                    })

                    .catch(error => console.error('Error al cargar contenido del modal:', error));
            });
        });
    }
    document.addEventListener('DOMContentLoaded', function () {

        
        // Carga cursos
        loadPage(1);

        var formadata = document.getElementById('formdata');
        var nombre = document.getElementById('nombre').value;
        formadata.addEventListener('submit', async (e) => {
            e.preventDefault();

            const formnuevo = new FormData(formadata);

            try {
                let response = await fetch(`AgregarCursoNoModal/`, {
                    method: 'POST',
                    body: formnuevo
                });

                if (!response.ok) {
                    throw new Error(`Error ${response.status}: ${response.statusText}`);
                }

                let html = await response.text();
                let listaCursos = document.getElementById('lista-cursos');
                listaCursos.innerHTML = html;
                nombre.innerHTML = ""

                var cursoAgregado = document.getElementById('curso-agregado');
                var cursoRepetido = document.getElementById('cursoRepetido');
                var cursoInvalido = document.getElementById('cursoInvalido');
                var cursoEditado = document.getElementById('cursoEditado');
                setTimeout(() => {
                    cursoAgregado.innerHTML = ''
                    cursoRepetido.innerHTML = ''
                    cursoInvalido.innerHTML = ''
                    cursoEditado.innerHTML = ''
                }, 3000)
                

                // Limpiar el formulario después de agregar un nuevo curso
                formadata.reset();
            } catch (error) {
                console.error('Error al agregar curso:', error);
            }
        });

        document.getElementById('cargar').addEventListener('click', function () {
            var nombre = document.getElementById('nombre').value;
            loadPageBuscar(nombre, 1);
        });

        
    });
</script>


