@model Sistema_Matricula.Models.CursoSeccion
<head>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
</head>
<h4>CursoSeccion</h4>
<hr />

<div class="row">
    <div class="block rounded-lg bg-[#f1f4f9] p-6 text-surface shadow-secondary-1 dark:bg-surface-dark dark:text-white col-md-12">
    <div class="col-md-12">
        <form id="cursoseccionForm" class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger col-md-12"></div>
                
            <!-- Columna izquierda (primeros tres elementos) -->
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nivel">Nivel</label>
                    <select id="nivel" class="form-control" asp-items="ViewBag.Niveles">
                        <option value="">Seleccione un nivel</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="grado">Grado</label>
                    <select id="grado" class="form-control">
                        <option value="">Seleccione un grado</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="seccion">Sección</label>
                    <select id="seccion" class="form-control">
                        <option value="">Seleccione una sección</option>
                    </select>
                </div>
            </div>

            <!-- Columna derecha (últimos dos elementos) -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="IdCurso" class="control-label"></label>
                    <select id="curso" asp-for="IdCurso" class="form-control" asp-items="ViewBag.Cursos">
                        <option value="">Seleccione un curso</option>
                    </select>
                    <span asp-validation-for="IdCurso" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="IdDocente" class="control-label"></label>
                    <select id="docente" asp-for="IdDocente" class="form-control" asp-items="ViewBag.Docente">
                        <option value="">Seleccione un docente</option>
                    </select>
                    <span asp-validation-for="IdDocente" class="text-danger"></span>
                </div>

                <input type="hidden" asp-for="IdSeccion" id="IdSeccion" />

                <div class="form-group" >
                   <input type="submit" value="Nuevo" class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded ml-1 mt-2 " />
                        @* <a id="boton_modal" class="bg-green-500 hover:bg-green-400 text-white font-bold py-2 px-4 border-b-4 border-green-700 hover:border-green-500 rounded ml-1 mt-2">Agregar Docente</a> *@
               </div>
            </div>
        </form>

    </div>
    </div>
    <button id="buscarBtn" class="bg-yellow-500 hover:bg-yellow-400 text-white font-bold py-2 px-4 border-b-4 border-yellow-700 hover:border-yellow-500 rounded">Buscar</button>
    
        
</div>

<!-- Modal para Agregar Proveedor -->
@* <div class="modal fade bg-green" id="agregarCursoModal" tabindex="-1" aria-labelledby="agregarProveedorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="agregarProveedorModalLabel">Agregar Curso</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    Nuevo Curso
                </button>
            </div>
            <div class="modal-body">
                @await Component.InvokeAsync("AgregarCurso")
            </div>
        </div>
    </div>
</div> *@


<div id="lista-cursoseccion">

</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>

        function loadPage(pageNumber, nombre) {
            fetch(`ListarSeccionesyCursos?pageNumber=${pageNumber}`)
                .then(response => response.text())
                .then(html => {
                    document.getElementById('lista-cursoseccion').innerHTML = html;
                })
                .catch(error => console.error('Error al cargar la página:', error));
        }

        function loadPage2(nivel, grado, seccion, pageNumber) {
            fetch(`@Url.Action("ListarSeccionesyCursosConParametros")?idgrado=${grado}&idnivel=${nivel}&idseccion=${seccion}&pageNumber=${pageNumber}`)
                .then(response => response.text())
                .then(html => {
                    document.getElementById('lista-cursoseccion').innerHTML = html;
                })
                .catch(error => console.error('Error al cargar la página:', error));
        }

        document.addEventListener('DOMContentLoaded', function () {
            // Cargar grados cuando se selecciona un nivel
            document.getElementById('nivel').addEventListener('change', function () {
                var nivelId = this.value;
                if (nivelId) {
                    fetch(`/Curso/BuscarGradoPorNivel?idNivel=${nivelId}`)
                        .then(response => response.json())
                        .then(data => {
                            var gradoSelect = document.getElementById('grado');
                            gradoSelect.innerHTML = '<option value="">Seleccione un grado</option>';
                            data.forEach(grado => {
                                var option = document.createElement('option');
                                option.value = grado.idGrado;
                                option.text = grado.descripcion;
                                gradoSelect.appendChild(option);
                            });
                        });
                } else {
                    document.getElementById('grado').innerHTML = '<option value="">Seleccione un grado</option>';
                    document.getElementById('seccion').innerHTML = '<option value="">Seleccione una sección</option>';
                }
            });

            // GUARDAR ASIGNACION DE UN CURSO A UNA SECCION
            const form = document.getElementById('cursoseccionForm');
            form.addEventListener('submit', async function (e) {
                e.preventDefault();
                const formData = new FormData(form);
                const response = await fetch('@Url.Action("AgregarCursoSeccion", "Curso")', {
                    method: 'POST',
                    body: formData
                });
                if (response.ok) {
                    const result = await response.text();
                    document.getElementById('lista-cursoseccion').innerHTML = result;
                } else {
                    const error = await response.text();
                    alert("Error: " + error);
                }
            });

            // Cargar secciones cuando se selecciona un grado
            document.getElementById('grado').addEventListener('change', function () {
                var gradoId = this.value;
                if (gradoId) {
                    fetch(`/Curso/BuscarSeccionPorGrado?idGrado=${gradoId}`)
                        .then(response => response.json())
                        .then(data => {
                            var seccionSelect = document.getElementById('seccion');
                            seccionSelect.innerHTML = '<option value="">Seleccione una sección</option>';
                            data.forEach(seccion => {
                                console.log(seccion);
                                var option = document.createElement('option');
                                option.value = seccion.idSeccion;
                                option.text = seccion.nombre;
                                seccionSelect.appendChild(option);
                            });
                        });
                } else {
                    document.getElementById('seccion').innerHTML = '<option value="">Seleccione una sección</option>';
                }
            });

            // Cargar docentes cuando se selecciona un curso
            document.getElementById('curso').addEventListener('change', function () {
                var cursoId = this.value;
                if (cursoId) {
                    fetch(`/Curso/BuscarDocentePorCurso?idcurso=${cursoId}`)
                        .then(response => response.json())
                        .then(data => {
                            var docenteSelect = document.getElementById('docente');
                            docenteSelect.innerHTML = '<option value="">Seleccione un docente</option>';
                            data.forEach(docente => {
                                console.log(docente);
                                var option = document.createElement('option');
                                option.value = docente.idDocente;
                                option.text = docente.nombreDocente;
                                docenteSelect.appendChild(option);
                            });
                        });
                } else {
                    document.getElementById('docente').innerHTML = '<option value="">Seleccione un docente</option>';
                }
            });

            loadPage(1);
            // // Cargar la lista de secciones y cursos
            // fetch('@Url.Action("ListarSeccionesyCursos", "Curso")')
            //     .then(response => response.text())
            //     .then(data => {
            //         document.getElementById('lista-cursoseccion').innerHTML = data;
            //     });

            // document.getElementById('buscarBtn').addEventListener('click', function () {
            //     var nivelId = document.getElementById('nivel').value;
            //     var gradoId = document.getElementById('grado').value;
            //     var seccionId = document.getElementById('seccion').value;

            //     fetch(`@Url.Action("ListarSeccionesyCursosConParametros")?idgrado=${gradoId}&idnivel=${nivelId}&idseccion=${seccionId}`)
            //         .then(response => response.text())
            //         .then(data => {
            //             document.getElementById('lista-cursoseccion').innerHTML = data;
            //         });
            // });

            document.getElementById('buscarBtn').addEventListener('click', function () {
                var nivelId = document.getElementById('nivel').value;
                var gradoId = document.getElementById('grado').value;
                var seccionId = document.getElementById('seccion').value;

                loadPage2(nivelId, gradoId, seccionId, 1);
            });



            
            // Sincronizar el valor seleccionado en el campo oculto IdSeccion
            document.getElementById('seccion').addEventListener('change', function () {
                document.getElementById('IdSeccion').value = this.value;
            });
        });

    </script>
}