@model Sistema_Matricula.Models.Curso

@{
    ViewData["Title"] = "_AgregarCurso";
}


<hr />
<div class="row">
    <div class="col-md-12">
        <form id="agregarCursoForm" asp-action="AgregarCurso" asp-controller="Curso">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Nuevo" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div class="alert alert-success" role="alert"  id="resultMessage" style="display:none;">

</div>


 <script>
    document.addEventListener('DOMContentLoaded', function () {
        
    });
    </script> 

